@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary: #0079ff;
  --secondary: #3394ff;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Lato", sans-serif;
  --font-monospace: "Cascadia Mono", Consolas, "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: rgb(15, 23, 42);
}

html {
  scroll-behavior: smooth;
}

body {
  height: 3000px;
}

a {
  text-decoration: none;
}

.icon {
  margin-right: 0.5rem;
  width: 0.8rem;
  transform: translateY(10%);
}

/* STYLE: Components */
.btn-outlined {
  font-weight: 500;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  transition: 0.4s;
}

.btn-outlined:hover {
  background-color: var(--primary);
  color: white;
}

.btn-primary {
  color: white;
  font-weight: 600;
  background-color: var(--primary);
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.4s;
}

.btn-primary:hover {
  background-color: var(--secondary);
}

/* STYLE: Navigation */

nav {
  position: fixed;
  padding: 1rem 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  opacity: 0.9;
}

.nav-title {
  display: flex;
  justify-content: space-between;
}

.nav-title a h2 span {
  color: var(--primary);
}

.hamburger-menu {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-weight: 600;
}

/* 
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

*/

.nav-link {
  position: relative;
  padding: 0.5rem;
  font-weight: 700;
  color: #777;
}

.nav-link,
.nav-link::before,
.nav-link::after {
  transition: 0.5s;
}

.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: var(--primary);
  height: 1px;
}

.nav-link:hover {
  color: var(--primary);
}

.nav-link:hover::after {
  width: 100%;
}

.hamburger-menu {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.card {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* STYLE: Generic Section Styles */

.hero,
.about,
.experience,
.contact {
  height: 100vh;
  padding: 0 15%;
}

.projects {
  padding: 5rem 15%;
}

.section-title {
  margin-top: 0.1rem;
  font-size: 3rem;
  line-height: 3rem;
}

.section-title span {
  color: var(--primary);
}

/* STYLE: Hero Section */

.hero {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.hero article {
  flex-basis: 50%;
}

.hero-intro {
  letter-spacing: -0.075rem;
  font-size: 1.2rem;
}

.hero-headline {
  margin-top: 1rem;
  text-align: justify;
}

.hero-cta {
  margin-top: 2rem;
}

.profile-picture-wrapper {
  padding: 2rem;
  border: 0.5px solid var(--primary);
  border-radius: 100%;
}

.profile-picture-wrapper img {
  width: 240px;
  border-radius: 100%;
}

/* STYLE: About Section */

.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.about-description {
  margin-top: 2rem;
  padding: 0 1rem;
  border-left: 8px solid var(--primary);
}

.about-description p {
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: -0.01rem;
  line-height: 1.8rem;
  color: #555;
  font-weight: 500;
  margin: 0.5rem 0;
}

.about-description p span {
  font-weight: 700;
  color: var(--primary);
}

.about-additionals {
  display: flex;
  gap: 2rem;
}

.about-tech-stacks {
  flex-basis: calc(100% / 3);
}

.about-tech-stacks-content {
  margin-top: 1rem;
}

.about-tech-stacks-content ul {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.about-tech-stacks-content ul li {
  background-color: var(--primary);
  color: white;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.about-location {
  flex-basis: calc(100% / 3 * 2);
}

.about-location .about-location-content {
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--primary);
  margin-top: 1rem;
}

.about-location iframe {
  width: 100%;
  height: 320px;
  border: 0;
  margin-top: 1rem;
  border-radius: 1rem;
}

/* STYLE: Experience */
.experience {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.experience-wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.experience-wrapper ul {
  flex-basis: calc(100% / 3);
  list-style-type: none;
}

.experience-list-item {
  padding: 0.5rem 0 0.5rem 2rem;
  cursor: pointer;
  transition: 0.4s;
  min-height: 3.2rem;
  display: flex;
  align-items: center;
  border-left: 3px solid #ddd;
}

.experience-selected {
  border-left: 3px solid var(--primary);
  color: var(--primary);
  font-weight: 600;
}

.experience-list-item:hover {
  border-left: 3px solid var(--primary);
}

.experience-detail {
  width: 100%;
  padding: 1rem;
}

.experience-detail h2 span {
  color: var(--primary);
}

.experience-detail p {
  color: #777;
  font-weight: 600;
}

.experience-detail ul {
  margin: 1rem 0;
  padding: 1rem 1.5rem 0;
  list-style-type: "\2713";
  min-height: 175px;
  max-height: 300px;
  overflow: auto;
  border-top: 1px solid #777;
}

.experience-detail ul li {
  margin-bottom: 0.75rem;
  color: #777;
  padding-left: 0.5rem;
}

.experience-detail ul li::marker {
  color: var(--primary);
  font-weight: 600;
}

/* STYLE: Projects */

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.projects-wrapper {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
}

.projects-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-image-wrapper {
  width: 100%;
  max-height: 240px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.projects-image {
  /* max-width: 120px; */
  height: 240px;
}

.projects-description {
  margin-top: 2rem;
  align-self: self-start;
}

.projects-description p {
  margin-top: 0.5rem;
  line-height: 1.6rem;
  color: #777;
}

.projects-tech-stack {
  margin-top: 0.5rem;
  align-self: self-start;
  margin-bottom: 1rem;
}

.projects-tech-stack-label {
  color: var(--primary);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.6rem;
}

.projects-tech-stack-label span {
  font-weight: 600;
  color: #777;
  display: block;
}

/* STYLE: Contact */

.contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding-bottom: 4rem;
}

.contact-description {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.contact-description span {
  color: var(--primary);
  font-weight: 600;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  list-style-type: none;
}

.contact-item a {
  font-size: 1.6rem;
  font-weight: 600;
  transition: transform 0.4s;
  display: block;
}

.contact-item a:hover {
  transform: scale(1.025);
}

.contact-item a span {
  display: inline-block;
  margin-left: 1rem;
}

.contact-item a span span {
  font-size: 1rem;
  color: #999;
}

footer {
  padding: 1.5rem;
  background-color: var(--primary);
  font-weight: 600;
  font-size: 1rem;
}

footer p {
  color: white;
  text-align: center;
}

footer p a {
  color: white;
  text-decoration: underline;
}

footer p .fa-heart {
  color: #f00;
}

/* RESPONSIVE: Small Screen */
@media (max-width: 1024px) {
  .projects-wrapper,
  .contact-wrapper {
    grid-template-columns: minmax(300px, 1fr);
  }

  .projects-image {
    max-height: 180px;
  }
}

/* RESPONSIVE: Tablet */
@media (max-width: 768px) {
  .btn-primary {
    width: 100%;
    text-align: center;
  }

  nav,
  .hero,
  .about,
  .experience,
  .projects,
  .contact {
    padding-left: 10%;
    padding-right: 10%;
  }

  .experience {
    height: auto;
    margin-top: 2rem;
  }

  nav {
    display: inline;
    opacity: 1;
  }

  nav ul {
    position: absolute;
    width: 80%;
    gap: 0;
    left: 10%;
    top: 3.5rem;
    padding: 0.5rem 0;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }

  .nav-link {
    padding: 0.5rem 1rem;
    display: block;
    transition: 0.4s;
  }

  .hamburger-menu {
    display: block;
  }

  .show-nav-menus {
    opacity: 1;
    visibility: visible;
    background-color: white;
  }

  .hero {
    flex-wrap: wrap-reverse;
    padding: 0;
    justify-content: center;
    gap: 0;
    padding: 15% 0;
  }

  .hero article {
    flex-basis: 75%;
  }

  .hero-intro,
  .hero h1,
  .hero-headline {
    text-align: center;
  }

  .profile-picture-wrapper img {
    width: 200px;
  }

  .hero article .hero-cta a {
    display: block;
    text-align: center;
  }

  .about {
    height: auto;
  }

  .about-additionals {
    flex-direction: column;
  }

  .about-location iframe {
    height: 280px;
  }

  .experience-wrapper {
    flex-direction: column;
  }

  .contact {
    height: auto;
  }
}

/* RESPONSIVE: Mobile */
@media (max-width: 480px) {
  header ul {
    display: none;
  }

  .section-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .hero article {
    flex-basis: 80%;
  }

  .projects-image {
    max-height: 140px;
  }
}
