@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary: #0079ff;
  --secondary: #3394ff;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Lato", sans-serif;
  --font-monospace: "Cascadia Mono", Consolas, "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: rgb(15, 23, 42);
}

html {
  scroll-behavior: smooth;
}

body {
  height: 3000px;
}

a {
  text-decoration: none;
}

/* STYLE: Components */
.btn-outlined {
  font-weight: 500;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  transition: 0.4s;
}

.btn-outlined:hover {
  background-color: var(--primary);
  color: white;
}

.btn-primary {
  color: white;
  font-weight: 600;
  background-color: var(--primary);
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.4s;
}

.btn-primary:hover {
  background-color: var(--secondary);
}

/* STYLE: Navigation */

nav {
  position: fixed;
  padding: 1rem 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  opacity: 0.9;
}

nav a h2 span {
  color: var(--primary);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-weight: 600;
}

nav ul li a {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* STYLE: Generic Section Styles */

.hero,
.about,
.experience {
  height: 100vh;
  padding: 0 15%;
}

.hero article h1,
.about article h1,
.experience article h1 {
  margin-top: 0.1rem;
  font-size: 3rem;
  line-height: 3rem;
}

.hero article h1 span,
.about article h1 span,
.experience article h1 span {
  color: var(--primary);
}

/* STYLE: Hero Section */

.hero {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.hero article {
  flex-basis: 50%;
}

.hero article .hero-intro {
  letter-spacing: -0.075rem;
  font-size: 1.2rem;
}

.hero article .hero-headline {
  margin-top: 1rem;
  text-align: justify;
}

.hero article .hero-cta {
  margin-top: 2rem;
}

.hero .profile-picture-wrapper {
  padding: 2rem;
  border: 0.5px solid var(--primary);
  border-radius: 100%;
}

.hero .profile-picture-wrapper img {
  width: 240px;
  border-radius: 100%;
}

/* STYLE: About Section */

.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.about article .about-description {
  margin-top: 2rem;
  padding: 0 1rem;
  border-left: 8px solid var(--primary);
}

.about article .about-description p {
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: -0.01rem;
  line-height: 1.8rem;
  color: #555;
  font-weight: 500;
  margin: 0.5rem 0;
}

.about article .about-description p span {
  font-weight: 700;
  color: var(--primary);
}

.about .about-additionals {
  display: flex;
  gap: 2rem;
}

.about .about-additionals .about-tech-stacks {
  flex-basis: calc(100% / 3);
}

.about .about-additionals .about-tech-stacks .about-tech-stacks-content {
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--primary);
  margin-top: 1rem;
}

.about .about-additionals .about-tech-stacks .about-tech-stacks-content ul {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.about .about-additionals .about-tech-stacks .about-tech-stacks-content ul li {
  background-color: var(--primary);
  color: white;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.about .about-additionals .about-location {
  flex-basis: calc(100% / 3 * 2);
}

.about .about-additionals .about-location .about-location-content {
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--primary);
  margin-top: 1rem;
}

.about .about-additionals .about-location iframe {
  width: 100%;
  height: 320px;
  border: 0;
  margin-top: 1rem;
  border-radius: 1rem;
}

/* STYLE: Experience */
.experience {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.experience-wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.experience-wrapper ul {
  flex-basis: calc(100% / 3);
  list-style-type: none;
}

.experience-list-item {
  padding: 0.5rem 0 0.5rem 2rem;
  cursor: pointer;
  transition: 0.4s;
  min-height: 3.2rem;
  display: flex;
  align-items: center;
  border-left: 3px solid #ddd;
}

.experience-selected {
  border-left: 3px solid var(--primary);
  color: var(--primary);
  font-weight: 600;
}

.experience-list-item:hover {
  border-left: 3px solid var(--primary);
}

.experience-detail {
  width: 100%;
  padding: 1rem;
}

.experience-detail h2 span {
  color: var(--primary);
}

.experience-detail p {
  color: #777;
  font-weight: 600;
}

.experience-detail ul {
  margin-top: 1rem;
  padding: 1rem 1.5rem 0;
  list-style-type: "\2713";
  height: 300px;
  overflow: auto;
  border-top: 1px solid #777;
}

.experience-detail ul li {
  margin-bottom: 0.75rem;
  color: #777;
  padding-left: 0.5rem;
}

.experience-detail ul li::marker {
  color: var(--primary);
  font-weight: 600;
}

/* RESPONSIVE: Tablet */
@media (max-width: 768px) {
  header,
  .hero,
  .about,
  .experience {
    padding-left: 10%;
    padding-right: 10%;
  }

  header ul {
    gap: 0.75rem;
  }

  .hero {
    flex-wrap: wrap-reverse;
    padding: 0;
    justify-content: center;
    gap: 0;
    padding: 15% 0;
  }

  .hero article {
    flex-basis: 75%;
  }

  .hero .hero-intro,
  .hero h1,
  .hero .hero-headline {
    text-align: center;
  }

  .hero .profile-picture-wrapper img {
    width: 200px;
  }

  .hero article .hero-cta .hero-cta-primary {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .about {
    padding-top: 10rem;
  }

  .about .about-additionals {
    flex-direction: column;
  }

  .about .about-additionals .about-location iframe {
    height: 280px;
  }

  .experience {
    margin-top: 2rem;
    padding-top: 8rem;
  }

  .experience-wrapper {
    flex-direction: column;
  }
}

/* RESPONSIVE: Mobile */
@media (max-width: 480px) {
  header ul {
    display: none;
  }

  .hero article {
    flex-basis: 80%;
  }
}
